* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'RedHatDisplay-Bold';
  src: url('resources/RedHatDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RedHatDisplay-Regular';
  src: url('resources/RedHatDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RedHatDisplay-Medium';
  src: url('resources/RedHatDisplay-Medium.ttf') format('truetype');
}

body {
  height: 100vh;
  font-family: 'RedHatDisplay-Bold', serif;
}

header {
  position: absolute;
  width: 100vw;
  padding-left: 44px;
  padding-top: 80px;
  background-image: url('resources/background-small.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100vw;
}

.lable {
  font-size: 24px;
  color: #6b59d0;
}

.title {
  margin-top: 20px;
  font-size: 32px;
  color: #374151;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-right: 24px;
  column-gap: 52px;
}

main > div {
  /* border-left: dashed; */
  /* border-left: 1px dashed rgba(0, 0, 0, 0.2); */
  padding-left: 20px;
  position: relative;
}

main > div::before {
  content: ''; /* Always required for pseudo-elements to show */
  position: absolute;
  left: 0;
  top: 0;
  width: 0.5px;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 4px,
    /* Length of dash */ transparent 3px,
    transparent 7px /* Space between dashes */
  );
}

.section {
  font-size: 18px;
  padding-bottom: 32px;
}

.section > img {
  margin-bottom: 32px;
}

.section1 {
  padding-top: 298px;
}

.subtitle {
  border-left: 3px solid #6b59d0;
  margin-left: -21px;
  padding-left: 21px;
  color: #374151;
}

.text {
  margin-top: 20px;
  font-family: 'RedHatDisplay-Regular', serif;
  color: #6b7280;
  line-height: 150%;
  letter-spacing: 5%;
}

.highlight {
  color: #6b59d0;
  font-family: 'RedHatDisplay-Medium', serif;
}

@media (min-width: 640px) {
  header {
    padding-top: 110px;
    background-image: url('resources/background-png@2x.png');
  }
  .section {
    padding-bottom: 60px;
  }

  .title {
    max-width: 680px;
  }
}

@media (min-width: 1024px) {
  header {
    padding-top: 200px;
    padding-left: 92px;
    background-image: url('resources/background-png.png');
  }

  .section1,
  .section2 {
    padding-top: 460px;
  }

  .header {
    padding-top: 200px;
  }

  main {
    margin-left: 72px;
  }

  main > div {
    max-width: 404px;
  }

  .title {
    font-size: 48px;
  }
}

@media (min-width: 1280px) {
  main > div {
    max-width: 257px;
  }
  .section3,
  .section4 {
    padding-top: 460px;
  }
}
