* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'RedHatDisplay-Bold';
  src: url('resources/RedHatDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RedHatDisplay-Regular';
  src: url('resources/RedHatDisplay-Regular.ttf') format('truetype');
}

body {
  height: 100vh;
  font-family: 'RedHatDisplay-Bold', serif;
}

header {
  position: fixed;
  width: 100vw;
  padding-left: 44px;
  padding-top: 80px;
  background-image: url('resources/background-png.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100vw;
}

.lable {
  font-size: 24px;
  color: #6b59d0;
}

.title {
  margin-top: 20px;
  font-size: 32px;
  color: #374151;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-right: 24px;
}

main > div {
  border-left: dashed;
  border-left: 1px dotted rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  max-width: 278px;
}

.section {
  font-size: 18px;
  padding-bottom: 32px;
}

.section > img {
  margin-bottom: 32px;
}

.section1 {
  padding-top: 298px;
}

.subtitle {
  border-left: 3px solid #6b59d0;
  margin-left: -21px;
  padding-left: 21px;
}

.text {
  margin-top: 20px;
  font-family: 'RedHatDisplay-Regular', serif;
}

.highlight {
  color: #6b59d0;
  font-family:;
}

@media (min-width: 640px) {
  header {
    padding-top: 191px;
    background-image: url('resources/background-png.png');
  }
  .section2 {
    padding-top: 298px;
  }
  .section {
    padding-bottom: 60px;
  }
}

@media (min-width: 1024px) {
  header {
    padding-top: 200px;
    background-image: url('resources/background-png@2x.png');
  }
  .section3,
  .section4 {
    padding-top: 298px;
  }

  .header {
    padding-top: 200px;
  }
}
